<title>Hospital Change Password</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">  
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<div class="container-fluid">
    <h1 style="text-align: center;font-size: 50px;color:black;">GLOBAL MEDIFILE</h1><br>
    <ul class="nav nav-pills nav-justified">
      <li class="nav-item">
        <a class="nav-link" routerLink="/hospitalpatient">Patients</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" routerLink="/hospitalpassword">Edit Password/Details</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/hospital">Logout</a>
      </li>
    </ul><br><br><br>
    <h3 style="color: maroon;">Hospital Logged in...</h3>
    <div style="padding:3% 3%;margin: auto;background-color:lightgoldenrodyellow;">
      <div class="container-fluid">
        <h1 style="text-align: center;">HOSPITAL DETAILS EDIT</h1><br>
        <div class="row">
        <div class="col-sm-4">
          <div style="margin:auto;border:2px solid white;border-radius:5px;padding: 10px;">
            <h3 style="text-align: center;">Hospital Details Edit(All information required*)</h3>
              <form action="#" post="method">
                <div class="form-group">
                  <label for="ghi">GHI:</label><br>
                  <input type="number" class="form-control" [(ngModel)]="hospital.ghi" placeholder="Enter GHI" id="ghi" name="ghi" required>
                </div><br>  
                  <div class="form-group">
                      <label for="id">Id:</label><br>
                      <input type="number" class="form-control" [(ngModel)]="hospital.id" placeholder="Enter Id" id="id" name="id" required>
                    </div><br>
                  <div class="form-group">
                      <label for="name">Hospital Name:</label><br>
                      <input type="text" class="form-control" [(ngModel)]="hospital.hospitalname" placeholder="Enter Hospital Name" id="name" name="name" required>
                    </div><br>
                    <div class="form-group">
                      <label for="uname">Username:</label><br>
                      <input type="text" class="form-control" [(ngModel)]="hospital.username" placeholder="Enter Username" id="uname" name="uname" required>
                    </div><br>
                    <div class="form-group">
                      <label for="passc">Current/New Password:</label><br>
                      <input type="text" class="form-control" [(ngModel)]="hospital.password" placeholder="Enter Current Password" id="passc" name="passc" required>
                    </div><br>
                  <input type="submit" class="btn btn-success" style="width:100%;font-size:30px;background-color:coral;color:white;" value="Update Details" (click)="updateHospitalNow()"><br>
              
              </form>
              </div>
            </div><br><br><br><br><br>
            <div class="col-sm-8">
              <h3 style="text-align: center;">Hospital Detail</h3>
              <table class="table table-dark table-responsive-sm">
                <thead>
                <tr>
                    <th>GHI</th>
                    <th>Id</th>
                    <th>Hospital Name</th>
                    <th>Username</th>
                    <th>Password</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let hospital of hospitals">
                    <td>{{hospital.ghi}}</td>
                    <td>{{hospital.id}}</td>
                    <td>{{hospital.hospitalname}}</td>
                    <td>{{hospital.username}}</td>
                    <td>{{hospital.password}}</td>
                </tr>
                </tbody>
            </table><br><br>
            <div class="form-group">
              <label for="search">Search By GHI:</label><br>
              <input type="number" class="form-control" [(ngModel)]="search.a" id="search" name="search" placeholder="Search By GHI"><br>
              <button class="btn btn-info btn-xs" (click)="searchById(search.a)"><span class="glyphicon glyphicon-remove"></span> Search</button> <br>
            </div><br>
            <table class="table table-dark table-responsive-sm">
              <thead>
              <tr>
                  <th>GHI</th>
                  <th>Id</th>
                  <th>Hospital Name</th>
                  <th>Username</th>
                  <th>Password</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                  <td>{{hospital.ghi}}</td>
                  <td>{{hospital.id}}</td>
                  <td>{{hospital.hospitalname}}</td>
                  <td>{{hospital.username}}</td>
                  <td>{{hospital.password}}</td>
              </tr>
              </tbody>
          </table>
            </div>
      </div>
      </div>   

</div>
